.sidebar {
    background-color: #264653;
    color: white;
    height: 700px;
    width: 300px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .sidebar button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #ade25d;
    border: none;
    border-radius: 5px;
    color: #368033;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
  }
  
  .sidebar button:hover {
    background-color: #b5e8a7;
  }