.bar {
    background-color: #264653;
    color: white;
    height: 700px;
    width: 300px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .bar h2 {
    text-align: center;
    color: #ade25d;
    font-size: 40px;
    font-weight:bolder;
  }

  .bar button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #ade25d;
    border: none;
    border-radius: 5px;
    color: #368033;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
  }
  
  .bar button:hover {
    background-color: #b5e8a7;
  }
  .del button{
    background-color: red;
    color: white;
  }
  
  .del button:hover{
    background-color: #d1475d;
  }

