/* Container for the profile update form */
.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
  }
  
  /* Heading styles */
  .profile-container h2 {
    color: #368033;
    font-size: 40px;
    margin-bottom: 5px;
  }
  
  /* Form styles */
  .profile-form {
    display: flex;
    width: 600px;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-row {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
  }
  
  /* Buttons */
  .form-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-success {
    background-color: #ade25d;
    color: white;
  }
  
  .btn-danger {
    background-color: #e63946;
    color: white;
  }

  .form-group label{
    font-size: 20px;
    color: #368033;
    text-align: left;
  }

  
  